version: '3'
services:
  db:
    image: mysql:5.7
    ports:
      - "4306:3306"
    environment:
      MYSQL_USER: "root"
      MYSQL_ALLOW_EMPTY_PASSWORD: "true"
  web:
    build: .
    command: foreman start
    volumes:
      - .:/blog
    ports:
      - "5000:5000"
      - "8080:8080"
    depends_on:
      - db
