%section
  %header
    %h3 categories
  %hr
  %ul
    - @categories.each do |category|
      %li= category.render_category_link
%section
  %header
    %h3 tags
  %hr
  %ul
    - tag_cloud(@tags, %w(s m l xl)) do |tag, css_class|
      = link_to tag.name, tag_path(tag.name), class: css_class
