.container
  %h1 tackeyy.com
  .row
    .col-md-8
      - @posts.each do |post|
        %section
          %h1 #{post.title}
          %p #{post.to_html.truncate(100)}
          = link_to 'Read more', blog_path(post.friendly_id || post.id), class: %w(btn btn-success mt-5)
        .blurb
    .col-md-4
