.container
  %h1 tackeyy.com
  .row
    .col-md-8
      - @posts.each do |post|
        %section
          %h1= post.title
          %p= HTML_Truncator.truncate(post.to_html, 1).html_safe
          = link_to 'Read more', blog_path(post.friendly_id || post.id), class: %w(btn btn-success mt-5)
        .blurb
    .col-md-4
  .center
    = paginate @posts, params: {controller: 'blog', action: 'index'}
