- set_meta_tags title: 'このサイトについて'
- set_meta_tags description: "Web周りの話や読んだ本についての感想を書いているブログです。"

%h1 このサイトについて
%p
  日常的に日々の活動の中でメモしたことをアウトプットするためのブログです。<br>
  アウトプットだけではなく業務で使用しているRuby on Railsを用いてさくらVPSで運用したりと個人的なsandboxとしても利用しています。<br>
  また、業務の幅を広げるためにSEOや広告なども導入していく予定です。

%hr

%h2 広告について
%p
  #{Settings.title}では、第三者配信の広告サービス（Googleアドセンス、Amazonアソシエイト）を利用しています。<br>
  このような広告配信事業者は、ユーザーの興味に応じた商品やサービスの広告を表示するため、当サイトや他サイトへのアクセスに関する情報 『Cookie』(氏名、住所、メール アドレス、電話番号は含まれません) を使用することがあります。<br>
  またGoogleアドセンスに関して、このプロセスの詳細やこのような情報が広告配信事業者に使用されないようにする方法については、<a href="https://www.google.co.jp/policies/technologies/ads/" target="_blank">こちら</a>をクリックしてください。

%hr

%h2 アクセス解析ツールについて
%p
  #{Settings.title}では、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。<br>
  Googleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。<br>
  トラフィックデータは匿名で収集されており、個人を特定するものではありません。<br>
  Cookieを無効にすることで、トラフィックデータの収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。<br>
  この規約に関して、詳しくは<a href="https://www.google.com/analytics/terms/jp.html" target="_blank">こちら</a>、または<a href="https://www.google.com/intl/ja/policies/privacy/partners/" target="_blank">こちら</a>をクリックしてください。<br>

%hr

%h2 免責事項
%p #{Settings.title}をご利用になったことで生じたいかなる損失・損害については、当方では責任を負うものではありません。予めご了承ください。
