/*
 *= require_directory .
 *= require_self
 *= require clean-blog.css
 */

//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// First import cerulean variables
@import "bootswatch/yeti/variables";

// Then bootstrap itself
@import "bootstrap";

// And finally bootswatch style itself
@import "bootswatch/yeti/bootswatch";

@import "font-awesome";

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.85rem;
}

h4 {
  font-size: 1.35rem;
}
