/*
 *= require_directory .
 *= require_self
 *= require clean-blog.css
 */

//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// First import cerulean variables
@import "bootswatch/yeti/variables";

// Then bootstrap itself
@import "bootstrap";

// And finally bootswatch style itself
@import "bootswatch/yeti/bootswatch";

@import "font-awesome";

// https://goo.gl/oeMHBV Fixing Bootstrap style
h1, h2, h3, h4 {
  padding-top: 5%;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
  letter-spacing: .1em;
  @media screen and (max-width: 543px) {
    letter-spacing: .05em;
  }
}

p {
  line-height: 1.65em;
  text-align: justify;
  letter-spacing: .05em;
  @media screen and (max-width: 543px) {
    letter-spacing: .025em;
  }
}
