.header
  height: 30vh
  width: 100vw
  border: solid 1px red !important

.title
  margin-bottom: 2.5rem

.postBox
  border-top: 1px solid #eee

  .title
    font-size: 2.5rem

.blurb
  border-top: solid 1px rgba(160, 160, 160, 0.3)
  margin: 3em 0 0 0
  padding: 3em 0 0 0

img
  display: block
  height: auto
  max-width: 100%

// for tag cloud
.s
  font-size: 1.0em

.m
  font-size: 1.5em

.l
  font-size: 2em

.xl
  font-size: 2.5em
