%meta{charset: 'UTF-8'}
%meta{content: 'text/html', 'http-equiv': 'content-type', 'Content-Type': 'text/html', charset: 'UTF-8'}
%meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
%meta{name: 'author', content: Settings.author}
%meta{name: 'application-name', content: Settings.title}

= display_meta_tags default_meta_tags
